<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.xdty.callerinfo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings">
        </activity>
        <activity
            android:name=".LicensesActivity"
            android:label="@string/license">
            <intent-filter>
                <action android:name="org.xdty.callerinfo.action.VIEW_LICENSES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name=".FloatWindow"/>

        <receiver android:name=".IncomingCall">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="org.xdty.phone.number.API_KEY"
            android:value="${API_KEY}"/>
        <meta-data
            android:name="org.xdty.phone.number.JUHE_API_KEY"
            android:value="${JUHE_API_KEY}"/>
        <meta-data
            android:name="DATABASE"
            android:value="phone_number.db"/>
        <meta-data
            android:name="VERSION"
            android:value="4"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="org.xdty.callerinfo.model.db"/>
    </application>

</manifest>
