<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.xdty.callerinfo.plugin"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="org.xdty.callerinfo.plugin">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".PluginService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>
